body {
  margin: 0;
  padding: 0;
  background: #000;
  overflow: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .links {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: rgba($color: #000000, $alpha: 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    .separator {
      border-left: 2px #ccc solid;
      margin: 5px;
    }
    a {
      text-decoration: none;
      color: #fff;

      &:hover {
        text-decoration: underline;
      }

      &.main {
        animation: light 1s 10 60s;
      }
    }
  }
}

@keyframes light {
  0% {
    color: #fff;
  }

  50% {
    color: orange;
  }
  100% {
    color: #fff;
  }
}
